.login {
	width: 410px;
	position: absolute; 
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.login h2{
	font-size: 32px;
	color: #111;
	border-bottom: 2px solid #111;
	text-align: center;
}

.login ul{
	list-style-type: none;
}

.login a{
/*	text-decoration: none;*/
	color: inherit;

}