body{
	background-color: #ffffff;
}
.mainpage{ 
	position: absolute; 
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #0E2577;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
#logo {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background-color: #0E2577;
}
#logo p {
	font-size: 50pt;
	color: #ffffff;
	height: 300px;
	line-height: 300px;
}
#title {
	font-size: 70pt;
}
.mainlist {
	margin-top: 250px;
}
.mainlist p {
	font-size: 50pt;
	margin-top: 50px;
}
.mainlist a {
	text-decoration: none;
	color: inherit;
	margin: 50px;
	border-bottom: 3px solid white;
}

.version {
	margin-top: 300px;
	font-size: 25px;
}

/*.mainpage ul li {
	list-style-type: none;
	transform: translate(-55%, -50%);
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 60px;
}*/

/*.mainpage ul li > a{
	text-decoration: none;
	color: inherit;
}*/
