  *{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
  }

  #sidebar{
   position: fixed;
   width: 300px;
   height: 100%;
   background: #585858;
   left: -300px;
   transition: all 500ms linear;
  }
  #sidebar.active{
   left:0px;
  }
  #sidebar ul li{
   color: white;
   list-style: none;
   padding: 15px 10px;
   border-bottom: 1px solid white;
  }

  #sidebar ul li a{
    color: #FFFFFF;
  }
  #sidebar .toggle-btn{
   position: absolute;
   left: 330px;
   top: 20px;
  }
  #sidebar .toggle-btn span{
   display: block;
   width: 30px;
   height: 5px;
   background: #151719;
   margin: 5px 0px;

  }