/****************************************************
 * Following part is shared part as header and background
 ****************************************************/
 body {
  margin: 0;
  background-color: rgb(189, 204, 255);
}

#header {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  z-index: 20001;
}

#iconsWrapper {
  padding: 0 10px;
  text-align: center;
}

.icons {
  width: 40px;
  height: auto;
  margin: 20px 10px;
}

#menuIcon {
  float: left;
}

#logoWrap {
  color: #ffa600;
}

#logo {
  display: inline-block;
  left: 50%;
  right: 50%;
  margin: 23px;
  font-size: 30px;
}

#logoText {
  font-family: 'Bebas Neue', cursive;
}

#main {
  background-color: rgb(189, 204, 255);
  height: 100%;
  margin-top: 100px;
}
/****************************************************
 * Above part is shared part as header and background
 ****************************************************/

.toPost {
  text-decoration: none;
  color: #000000;
}

.toPostedBy {
  text-decoration: none;
  color: #000000;
}

.deleteButton {
  background-color: white;
  border: 1px solid #f44336;
  border-radius: 10px;
  color: #f44336;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  float: right;
  font-size: 16px;
  margin: 10px 15px;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
}

.deleteButton:hover {
  background-color: #f44336;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 15px;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
}

.post {
  width: 330px;
  height: auto;
  background-color: #ffffff;
  margin: 20px auto;
  padding: 14px 0;
  border-radius: 5px;
  border: 0.5px solid lightgrey;
  /* border-radius: 7px; */
}

.postTitle {
  margin: 0px 14px;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
}

.postImage {
  width: 300px;
  /* height: 170px; */
  /* border: 1px solid black; */
  margin: 7px auto;
}

.postImage img {
  width: 300px;
  height: auto;
}

.postDetail {
  margin: 0px 14px;
  word-wrap: break-word;
}

.postId {
  display: flex;
  margin-bottom: 7px;
}

.postedBy {
  font-weight: 700;
  /* width: 50px; */
  display: inline;
  font-family: 'Muli', sans-serif;
}

.postedDate {
  margin-left: auto;
  font-family: 'Muli', sans-serif;
}

.contents {
  font-family: 'Muli', sans-serif;
}

/** (mobile) For 480px or less **/
@media screen and (max-width: 480px) {

}
