.head{
    width: 100%;
    height: 300px;
    background-color: rgb(189, 204, 255);
    font-family: 'Muli', sans-serif;
}

.cancel a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 5px;
    float:left;
    font-family: 'Muli', sans-serif;
}

.done a{
    text-decoration: none;
    color: #fff;
    float: right;
    font-size: 20px;
    margin: 5px;
    font-family: 'Muli', sans-serif;
}
.info-title{
    color: rgb(189, 204, 255);
    font-size: 15px;
    font-family: 'Muli', sans-serif;
}

.fields ul{
    list-style: none;
    width: 100%;
}

.fields ul li{
    font-size: 15px;
    margin-top: 20px;
    margin-left: -20px;
}
.info{
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    font-family: 'Muli', sans-serif;
}

.profile{
    border-radius : 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(50%);
    font-family: 'Muli', sans-serif;
}

.userName, .userEmail{
    font-size: 15px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    width: 350px;
    height: 200px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    position: relative;
    font-family: 'Muli', sans-serif;
}

.update{
    font-size: 20px;    
}

.input{
    width: 50%;
    display:block;
    margin: 5px auto;
}

button{
    width: 50%;
}

#close{
    position: absolute;
    font-size: 30px;
    top: 0;
    right: 14px;
    color: black;
    transform: rotate(45deg);
    cursor: pointer;
}