/****************************************************
 * Following part is shared part as header and background
 ****************************************************/
body {
  margin: 0;
  background-color: rgb(189, 204, 255);
}

#header {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  z-index: 20001;
}

#iconsWrapper {
  padding: 0 10px;
  text-align: center;
}

.icons {
  width: 40px;
  height: auto;
  margin: 20px 10px;
}

#menuIcon {
  float: left;
}

#logoWrap {
  color: #ffa600;
}

#logo {
  display: inline-block;
  left: 50%;
  right: 50%;
  margin: 23px;
  font-size: 30px;
}

#logoText {
  font-family: 'Bebas Neue', cursive;
}

#main {
  background-color: rgb(189, 204, 255);
  height: 100%;
  margin-top: 100px;
}
/****************************************************
 * Above part is shared part as header and background
 ****************************************************/

#postMain {
  width: 345px;
  height: auto;
  padding: 14px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  /* border: 1px solid black; */
}

#postTitle {
  margin-left: 10px;
}

.postId {
  /* display: flex; */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#user {
  margin-bottom: 10px;
}

#postTime {
  float: right;
  margin-bottom: 10px;
}

#postImage {
  width: 335px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#postDetail {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  clear: right;
}

#postContent {
  /* margin-top: 15px; */
  word-wrap: break-word;
}

.conditionBar {
  margin-top: 15px;
}

.conditionBar { 
  text-align: center;
}

#directMessage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #008CBA;
  border: 1px solid #008CBA;
  border-radius: 10px;
  color: white;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modalPosterName {
  margin-bottom: 10px;
}

#modalPosterEmail {
  font-weight: 700;
  color: black;
}

#modalDescription {
  margin-top: 35px;
}