/****************************************************
 * Following part is shared part as header and background
 ****************************************************/
body {
  margin: 0;
  background-color: rgb(189, 204, 255);
}

#header {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  z-index: 20001;
}

#iconsWrapper {
  padding: 0 10px;
  text-align: center;
}

.icons {
  width: 40px;
  height: auto;
  margin: 20px 10px;
}

#menuIcon {
  float: left;
}

#searchIcon {
  float: right;
}

#messageIcon {
  float: right;
}

#logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0E2577;
  display: inline-block;
  left: 50%;
  transform: translate(150%);
  margin: 20px
}

#main {
  background-color: rgb(189, 204, 255);
  height: 100%;
  margin-top: 100px;
}
/****************************************************
 * Above part is shared part as header and background
 ****************************************************/

#postMain {
  width: 345px;
  height: auto;
  padding: 14px;
  margin: 0 auto;
  background-color: white;
  /* border: 1px solid black; */
}

#postTitle {
  margin-left: 10px;
}

.postId {
  /* display: flex; */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#user {
  margin-bottom: 10px;
}

#postTime {
  /* margin-left: auto; */
  float: right;
  margin-bottom: 10px;
}

#postImage {
  width: 335px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#postDetail {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#postContent {
  word-wrap: break-word;
}

.conditionBar {
  margin-top: 15px;
}

.conditionBar { 
  text-align: center;
}

#directMessage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #008CBA;
  border: 1px solid #008CBA;
  border-radius: 10px;
  color: white;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
